<html>
<h1>Welcome to the world of Ansible Automation</h1>
<h3>WebSite Hosted on   : {{ inventory_hostname}}</h3>
<h3>WebServer listen on : {{ http_port }}</h3>
<h3>WebPage Reside in   : {{ doc_root }}</h3>
</html>
